* {
  /* margin: 0;
  padding: 0; */
  text-decoration: none;
  list-style: none;
}

body {
  /* inside public folder now */
  background: url('/media/rusty-pattern.png') #d3864a;
  background-size: cover;
}
