@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@font-face {
  font-family: 'Animals';
  font-style: normal;
  font-weight: 400;
  src: url('/media/font/Animals.ttf') format('truetype');
}

* {
  /* margin: 0;
  padding: 0; */
  text-decoration: none;
  list-style: none;
}

body {
  /* inside public folder now */
  background: url('/media/woodTable.jpg') #d3864a;
  background-size: cover;
  font-family: 'Nerko One', cursive;
}

.flex-horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.white {
  color: #fff;
}
.black {
  color: #000;
}
.black:hover {
  color: #000;
}

.stroke {
  -webkit-text-stroke: 1px #292929;
  color: var(--warning);
  text-shadow: 3px 3px 0 #343a40, -1px -1px 0 #343a40, 1px -1px 0 #343a40,
    -1px 1px 0 #343a40, 1px 1px 0 #343a40;
}

button.btn:hover {
  transform: scale(1.03) translateY(-3px);
}

.bouncing {
  transition: 0.4s ease all;
  -webkit-animation: bounce 1.2s 1 forwards;
  -moz-animation: bounce 1.2s 1 forwards;
  -ms-animation: bounce 1.2s 1 forwards;
  animation: bounce 1.2s 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
    opacity: 0;
  }
  10% {
    transform: scale(1.01, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.98, 1.05) translateY(-100px);
  }
  50% {
    transform: scale(1.01, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
    opacity: 1;
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
